:root.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background: #000;
  --background-color-1: #000;
  --background-color-2: #007f0c;
  --background-color-3: #004306;
  --heart-conrour: #00cc14;
  --sparks-color: #f00;
  --button-text-n-image-color: #00cc14;
  --font-weight-standart-changable: 465;
  --font-weight-big-changable: 785;
}

:root.theme-light {
  --themes-main-color: #000;
  --themes-background: #fff;
  --background-color-1: #d3d3d3;
  --background-color-2: #e7e7e7;
  --background-color-3: #1a1a1a;
  --heart-conrour: #000;
  --sparks-color: #f00;
  --button-text-n-image-color: #fff;
  --font-weight-standart-changable: 400;
  --font-weight-big-changable: 700;
}

@media (prefers-color-scheme: dark) {

  :root {
    --themes-main-color: #00cc14;
    --themes-background: #000;
    --background-color-1: #000;
    --background-color-2: #007f0c;
    --background-color-3: #004306;
    --heart-conrour: #00cc14;
    --sparks-color: #f00;
    --button-text-n-image-color: #00cc14;
    --font-weight-standart-changable: 465;
    --font-weight-big-changable: 785;
  }
}
