:root.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background: #000;
  --background-color-1: #000;
  --background-color-2: #007f0c;
  --background-color-3: #004306;
  --heart-conrour: #00cc14;
  --sparks-color: #f00;
}

:root.theme-light {
  --themes-main-color: #000;
  --themes-background: #fff;
  --background-color-1: #d3d3d3;
  --background-color-2: #e7e7e7;
  --background-color-3: #1a1a1a;
  --heart-conrour: #000;
  --sparks-color: #f00;
}

@media (prefers-color-scheme: dark) {

  :root {
    --themes-main-color: #00cc14;
    --themes-background: #000;
    --background-color-1: #000;
    --background-color-2: #007f0c;
    --background-color-3: #004306;
    --heart-conrour: #00cc14;
    --sparks-color: #f00;
  }
}

.theme-dark .footer__button-text {
  color: var(--themes-main-color);
}

.theme-dark .footer__image {
  fill: var(--themes-main-color);
}

.theme-dark .button__text {
  color: var(--themes-main-color);
}

.theme-dark .dialog__button-text {
  color: var(--themes-main-color);
}

.theme-dark .dialog__image {
  fill: var(--themes-main-color);
}

.theme-dark .card__title {
  font-weight: var(--font-weight-dark-big);
}

.theme-dark .card__text {
  font-weight: var(--font-weight-dark-small);
}
