:root {
  --themes-main-color: #000;
  --themes-background: #fff;
  --background-color-1: #d3d3d3;
  --background-color-2: #e7e7e7;
  --background-color-3: #1a1a1a;
  --heart-conrour: #000;
  --sparks-color: #f00;
  --font-size-standart: 14px;
  --font-weight-standart-changable: 400;
  --font-weight-big-changable: 700;
  --font-main: 'Inter';
  --font-secondary: 'Press Start 2P';
  --button-text-n-image-color: #fff;
}
